<h1>Product</h1>
<h4><%= @product.name %></h4>
<p><%= @product.description %></p>
<p>$<%= @product.price %></p>

<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <p><%= review.author %></p>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
    <% if review.user_id == current_user.id %>
      <%= link_to "Edit Review", edit_product_review_path(@product, review.id) %>
    <% end %>
  <% end %>
<% else %>
  <p>Be the first to review this product!</p>
<% end %>
<%= link_to "New Review", new_product_review_path(@product) %>
