<!DOCTYPE html>
<html>
  <head>
    <title>Freeformind</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="left brand-logo">Free <span class="for-logo">for</span> Mind</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to 'Products', products_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <% if current_user.admin %>
              <li><%= link_to "Admin", rails_admin_path %></li>
            <% end %>
              <li><%= current_user.email %></li>
            <% else %>
              <li><%= link_to "Sign-up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul><br>
       </div>
      </nav>
    </div>

    <div class="container">
      <div class="notice">
        <%= flash[:notice] %>
      </div>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
